body{
  background-color: MistyRose;
}
h1 {
  color: Coral;
  font-family: Luminari;
}
p {
  color: DarkSalmon;
  font-family: Luminari;
}
h2 {
  color: IndianRed;
}
h3 {
  color: DarkSlateGrey;
  font-family: Trattatello;
}